<div class="password-cell">
        <div class="password-cell-color"></div>
        <div class="password-cell-color orange"></div>
        <div class="password-cell-color yellow"></div>
        <div class="password-cell-color green"></div>
        <div class="password-cell-color blue"></div>
        <div class="password-cell-color indigo"></div>
        <div class="password-cell-color violet"></div>
      </div>